<div class="container-fluid">
    <div class="row flex-nowrap">
        @Html.Partial("_LeftMenu")

        <div class="col py-3">

            <p>Gönderi Sayısı: @ViewBag.PostOfNumber</p>
            <p>Gönderilen Teklif Sayısı:  @ViewBag.SendOfOffer</p>
            <p>Alınan Teklif Sayısı: @ViewBag.ReceivedOfOffer</p>
            
        </div>
    </div>
</div>