<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-area="User" asp-controller="User" asp-action="GetMyAcceptOffer" class="nav-link">Onayladığım Teklifler</a>
            </li>
            <li class="nav-item me-5">
                <a asp-area="User" asp-controller="User" asp-action="GetMyRejectedOffer" class="nav-link">Reddettiğim Teklifler</a>
            </li>
            <li class="nav-item">
                <a asp-area="User" asp-controller="User" asp-action="GetAcceptOffer" class="nav-link">Onaylanan Teklifler</a>
            </li>

            <li class="nav-item">
                <a asp-area="User" asp-controller="User" asp-action="GetRejectedOffer" class="nav-link">Reddedilen Teklifler</a>
            </li>
            

        </ul>
    </div>
</nav>



