<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item me-5">
                <a asp-area="Application" asp-controller="Application" asp-action="CreateApplication" class="nav-link">Başvuru Oluştur</a>
            </li>
            <li class="nav-item">
                <a asp-area="Application" asp-controller="Application" asp-action="GetApplication" class="nav-link">Başvuru Durumu</a>
            </li>
        </ul>
    </div>
</nav>